/dist
/build
/coverage
/node_modules
/tools
/devops
.storybook
/coverage
/nginx
/.husky
/.vscode
/uploads
config-overrides.js
stories
ser
serviceWorker.js
service-worker.ts
serviceWorkerRegistration.ts